<%- include('partials/header'); -%>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class='padding-section'>
        <table class="table">
            <thead>
                <h1>Profile Info</h1>
                <tr>
                    <td scope="col">
                        <%=body.display_name%>
                    </td>
                    <td scope="row">
                        <%=body.email%>
                    </td>

                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>Total Followers: <%=body.followers.total%>
                    </td>
                    <td scope="row">
                        <a href="<%=body.external_urls.spotify%>">
                            <%=body.external_urls.spotify%>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <%- include('partials/footer'); -%>