<%- include('partials/header'); -%>

    <div class='padding-section'>
        <h1>Song of the day!</h1>

        <h3>
            <%=name%>
        </h3>
        <audio controls="controls">
            <source src="<%=url%>" type="audio/mpeg">
        </audio>
        <h4>Song Preview</h4>
        <hr>
        <h2>Select Playlist</h2>


        <form action="/getPlaylist" method="post">
            <ul class="playlist">
                <% playlistDisp.body.items.forEach(function (data){ %>
                    <li><input type="checkbox" name="getplaylist" id="getplaylist " value="<%data.id%>">
                        <%=data.description %>
                    </li>

                    <% }); %>

            </ul>
            <button type="submit">Select Playlist - Confirm</button>
        </form>


    </div>


    <%- include('partials/footer'); -%>