<%- include('partials/header'); -%>

    <div class='padding-section'>
        <h1>Song of the day!</h1>

        <h3>
            <%=name%> - Song Preview
        </h3>
        <audio controls="controls">
            <source src="<%=url%>" type="audio/mpeg">
        </audio>
       

    </div>
    <div class='padding-section'>
        <h2>Select Playlist</h2>
        <form action="/getPlaylist" method="post">
            <table class="table">
                <tr>
                    <th>Playlist Name</th>
                    <th>Song ID</th>
                </tr>
                <% playlistDisp.body.items.forEach(function (data){ %>
                    <tr>
                        <td>
                            <%=data.description %>
                        </td>
                        <td>
                            <%=data.id%>
                        </td>
                    </tr>
                    <% }); %>
            </table>
            <label>Playlist ID</label>
            <input type="text" class="form-control"  placeholder="Enter Playlist ID">
            <small class="form-text text-muted">Copy ID from Above and paste here.</small>
            <button type="submit"  class="btn btn-primary">Select Playlist - Confirm</button>
        </form>


    </div>


    <%- include('partials/footer'); -%>