<%- include('partials/header'); -%>
    <div class='padding-section'>
        <h1>Song of the day!</h1>

        <h3>
            <%=name%> - Song Preview
        </h3>
        <audio controls="controls">
            <source src="<%=url%>" type="audio/mpeg">
        </audio>


    </div>
    <div class='padding-section'>
        <h2>Select Playlist</h2>
        <form action='/playID' method="post">
            <table class="table">
                <tr>
                    <th>Playlist Name</th>
                    <th>Song ID</th>
                    <th>Select Playlist</th>
                </tr>
                <% playlistDisp.body.items.forEach(function (data){ %>
                    <tr>
                        <td>
                            <%=data.description %>
                        </td>
                        <td>
                            <%=data.id%>
                        </td>
                        <td>
                            <input type="radio" name="radVal" value="<%=data.id%>" />
                            <input type="hidden" name="songVal" value="<%=songuri%>" />
                        </td>
                    </tr>
                    <% }); %>
            </table>


            <button type="submit" class="btn btn-primary playlist submitreq">Select Playlist - Confirm</button>
        </form>


    </div>


    <%- include('partials/footer'); -%>